*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: #333;
  width: 100vw;
  height: 100vh;
}

@for $i from 1 through 18 {
  .fruit-#{$i} {
    background-image: url(img/cartes.png);
    background-image: url(img/cartes.png);
    background-size: 8vw, 16vh;
    background-position: 0% ($i * 97px);
  }
}

.cards {
  width: 80vw;
  height: 90vh;
  border: 1px solid #333;
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vh;
}

.subcard{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: #d2af82;
}

.frontFace {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d2af82;
  background-image: url(img/question.png);
  background-size: 8vw, 16vh;
  backface-visibility: hidden;
}

.backFace {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
