*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: #333;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fruit-1 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 5.9%;
}

.fruit-2 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 11.8%;
}

.fruit-3 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 17.7%;
}

.fruit-4 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 23.6%;
}

.fruit-5 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 29.5%;
}

.fruit-6 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 35.4%;
}

.fruit-7 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 41.3%;
}

.fruit-8 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 47.2%;
}

.fruit-9 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 53.1%;
}

.fruit-10 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 59%;
}

.fruit-11 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 64.9%;
}

.fruit-12 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 70.8%;
}

.fruit-13 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 76.7%;
}

.fruit-14 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 82.6%;
}

.fruit-15 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 88.5%;
}

.fruit-16 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 94.4%;
}

.fruit-17 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 100.3%;
}

.fruit-18 {
  background-image: url(img/cartes.png);
  background-image: url(img/cartes.png);
  background-size: 8vw, 16vh;
  background-position: 0% 106.2%;
}

.cards {
  width: 80vw;
  height: 90vh;
  border: 1px solid #333;
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vh;
}

.subcard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: #d2af82;
}

.frontFace {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d2af82;
  background-image: url(img/question.png);
  background-size: 8vw, 16vh;
  backface-visibility: hidden;
}

.backFace {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
